* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    background-color: $background-color_4;
    width: 350px;
    padding: 30px;
    margin: auto;
    margin-top: px;
    border-radius: 4px;
    font-family: $font-family_1;
    color: $color_1;
    box-shadow: 7px 13px 37px #000;
}

.control {
    width: 100%;
    background-color: $background-color_4;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #1f53c5;
    font-family: $font-family_1;
    font-size: 18px;

    &:focus {
        height: 60px;
    }
}

.boton {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    border-radius: 4px;
    border: none;
    color: $color_1;
    text-transform: uppercase;
    background: linear-gradient(to left top, #005aa7, #fffde4);
    font-size: 20px;

    &:hover {
        cursor: pointer;
        transform: translateY(-3px);
        transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    }

    &:active {
        transform: translateY(3px);
    }
}