/* GALERIA */

/* @mixin galeria {
    border-radius: 1rem;
    padding: 0.4rem;
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease;
    filter: grayscale(50%);
}

// Clase para las imágenes de la galería
.imagenGaleria {
    @include galeria;
    max-width: 100vw; // Agregamos esta propiedad para evitar el desbordamiento horizontal en vista móvil
    &:hover {
        filter: grayscale(0%);
        transform: scale(1.03);
    }
} */


@mixin galeria {
    border-radius: 1rem;
    padding: 0.4rem;
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease;
    filter: grayscale(50%);
  }
  
  // Clase para las imágenes de la galería
  .imagenGaleria {
    @include galeria;
    &:hover {
      filter: grayscale(0%);
      transform: scale(1.03);
    }
  }
  
  @media screen and (max-width: 768px) {
    .imagenGaleria {
      max-width: 100%;
    }
  } 